<html>
    <head></head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <body>
        <header class="shifted landing_part">
            <nav>
                <div class="left">
                    <i class="fa fa-graduation-cap"></i>
                    <div class="logo-text">Back To School</div>
                </div>
                <div class="right">
                    <a href="/">Home</a>
                    <a href="/user/profile">Profile</a>
                    <a href="/user/report">Report A Case</a>
                    <a href="/user/logout" class="last-child">Sign Out</a>
                </div>
            </nav>
        </header>
        <section class="banner">
            <h3 class="heading">A real time monitoring system</h3>
            <p>For Getting Kids back to School</p>
        </section>
        <section class="features">
            <div class="links">
              <a href="/" class="active">Facts</a>
              <a href="/charts">Charts</a>
              <a href="/donations">Donations</a>
              <a href="/volunteer">Volunteers</a>
              <a href="/rooms">Chat Rooms</a>
            </div>
            <div class="two-facts">
                <div class="col">
                    <h5>Header</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <div class="btn-container">
                        <button type="button" name="button">Read More</button>
                    </div>
                </div>
                <div class="col">
                    <h5>Header</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <div class="btn-container">
                        <button class="btn_second" type="button" name="button">Read More</button>
                    </div>
                </div>
            </div>
            <div class="one-fact">
                <h5>Header</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <div class="btn-container">
                    <button class="btn_second" type="button" name="button">Read More</button>
                </div>
            </div>
        </section>

        <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/5.0.0/pusher.min.js"></script> -->
        <script src="https://js.pusher.com/5.0/pusher.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>
