<html>
    <head></head>
    <title>Landing Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <body>
        <header class="shifted landing_part">
            <nav>
                <div class="left">
                    <i class="fa fa-graduation-cap"></i>
                    <div class="logo-text">Back To School</div>
                </div>
                <div class="right">
                    <a href="/">Home</a>
                    <a href="/user/profile">Profile</a>
                    <a href="/user/report">Report A Case</a>
                    <a href="/user/logout" class="last-child">Sign Out</a>
                </div>
            </nav>
        </header>
        <section class="banner">
            <h3 class="heading"><%= state.name %> real time monitoring system</h3>
            <p>Let's Get <%= state.name %> children back to School</p>
        </section>
        <section class="features">
            <div class="links">
                <a href="/">Facts</a>
                <a href="/charts" class="active">Charts</a>
                <a href="/donations">Donations</a>
                <a href="/volunteer">Volunteers</a>
                <a href="/rooms">Chat Rooms</a>
            </div>
            <hr>

            <div id="stateChartContainer" class="stateChartContainer" style="width: 100%;height: 300px;margin-bottom: 70px;">

            </div>
            <hr>

            <div id="stateChartContainer2" class="stateChartContainer" style="width: 100%;height: 300px;margin-bottom: 70px;display: none;">

            </div>
            <hr>

            <div id="stateChartContainer3" class="stateChartContainer" style="width: 100%;height: 300px;margin-bottom: 70px;display: none;">

            </div>
            <hr>

            <div id="stateChartContainer4" class="stateChartContainer" style="width: 100%;height: 300px;margin-bottom: 70px;display: none;">

            </div>
            <hr>

            <div id="stateChartContainer5" class="stateChartContainer" style="width: 100%;height: 300px;margin-bottom: 70px;display: none;">

            </div>

        </section>

        <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/5.0.0/pusher.min.js"></script> -->
        <script src="https://js.pusher.com/5.0/pusher.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
        <script>
            $(document).ready(function(){
                let dataPoints = []
                fetch("http://localhost:3000/api/getStateLocals",{
                    method: "post",
                    body: JSON.stringify({
                        stateId: <%= stateId %>
                    }),
                    headers: new Headers(({
                        'Content-Type': 'application/json'
                    }))
                })
                .then(res => res.json())
                .then(data => {
                    getDataPoints(<%= stateId %>)
                    // console.log(data)
                    var dataPointsToBeRendered = []

                    if(dataPoints.length > 10){
                        var count = 0
                        // console.log(dataPoints)
                        dataPoints.map(localGovernment => {
                            count++
                            // console.log(count)
                            if(count % 10 == 0 && count <= 10){
                                const stateChartContainer = document.querySelector("#stateChartContainer")
                                stateChartContainer.style.display = "block"
                                if(stateChartContainer){
                                    dataPointsToBeRendered = dataPoints.slice(0,10)
                                    mapDataPointAndReport(dataPointsToBeRendered, data.reports)
                                    const chart = new CanvasJS.Chart('stateChartContainer', {
                                        animationEnabled: true,
                                        theme: 'theme1',
                                        title: {
                                            text: 'Out Of School Children Live Reports From ' + data.state.name
                                        },
                                        data: [
                                            {
                                                type: 'column',
                                                dataPoints: dataPointsToBeRendered
                                            }
                                        ]
                                    })
                                    chart.render()
                                    renderOnBindEvent(dataPointsToBeRendered, chart)
                                }
                            }
                            if(count % 10 == 0 && count >= 10 && count <= 20){
                                const stateChartContainer = document.querySelector("#stateChartContainer2")
                                stateChartContainer.style.display = "block"
                                if(stateChartContainer){
                                    dataPointsToBeRendered = dataPoints.slice(10,20)
                                    mapDataPointAndReport(dataPointsToBeRendered, data.reports)
                                    const chart = new CanvasJS.Chart('stateChartContainer2', {
                                        animationEnabled: true,
                                        theme: 'theme1',
                                        title: {
                                            text: 'Out Of School Children Live Reports From ' + data.state.name
                                        },
                                        data: [
                                            {
                                                type: 'column',
                                                dataPoints: dataPointsToBeRendered
                                            }
                                        ]
                                    })
                                    chart.render()
                                    renderOnBindEvent(dataPointsToBeRendered, chart)
                                }
                            }
                            if(count % 10 == 0 && count >= 30 && count <= 40){
                                const stateChartContainer = document.querySelector("#stateChartContainer4")
                                stateChartContainer.style.display = "block"
                                if(stateChartContainer){
                                    dataPointsToBeRendered = dataPoints.slice(30,40)
                                    mapDataPointAndReport(dataPointsToBeRendered, data.reports)
                                    const chart = new CanvasJS.Chart('stateChartContainer4', {
                                        animationEnabled: true,
                                        theme: 'theme1',
                                        title: {
                                            text: 'Out Of School Children Live Reports From ' + data.state.name
                                        },
                                        data: [
                                            {
                                                type: 'column',
                                                dataPoints: dataPoints.slice(30,40)
                                            }
                                        ]
                                    })
                                    chart.render()
                                    renderOnBindEvent(dataPointsToBeRendered, chart)
                                }
                            }
                            if(count % 10 == 0 && count >= 40 && count <= 50){
                                const stateChartContainer = document.querySelector("#stateChartContainer5")
                                stateChartContainer.style.display = "block"
                                if(stateChartContainer){
                                    dataPointsToBeRendered = dataPoints.slice(40,50)
                                    mapDataPointAndReport(dataPointsToBeRendered, data.reports)
                                    const chart = new CanvasJS.Chart('stateChartContainer5', {
                                        animationEnabled: true,
                                        theme: 'theme1',
                                        title: {
                                            text: 'Out Of School Children Live Reports From ' + data.state.name
                                        },
                                        data: [
                                            {
                                                type: 'column',
                                                dataPoints: dataPointsToBeRendered
                                            }
                                        ]
                                    })
                                    chart.render()
                                    renderOnBindEvent(dataPointsToBeRendered, chart)
                                }
                            }
                            if(count % 10 == 0 && count >= 20 && count <= 30){
                                console.log("Here")
                                const stateChartContainer = document.querySelector("#stateChartContainer3")
                                stateChartContainer.style.display = "block"
                                if(stateChartContainer){
                                    dataPointsToBeRendered = dataPoints.slice(20,30)
                                    mapDataPointAndReport(dataPointsToBeRendered, data.reports)
                                    const chart = new CanvasJS.Chart('stateChartContainer3', {
                                        animationEnabled: true,
                                        theme: 'theme1',
                                        title: {
                                            text: 'Out Of School Children Live Reports From ' + data.state.name
                                        },
                                        data: [
                                            {
                                                type: 'column',
                                                dataPoints: dataPointsToBeRendered
                                            }
                                        ]
                                    })
                                    chart.render()
                                    renderOnBindEvent(dataPointsToBeRendered, chart)
                                }
                            }
                        })
                    }else{
                        const stateChartContainer = document.querySelector("#stateChartContainer")
                        mapDataPointAndReport(dataPoints, data.reports)

                        if(stateChartContainer){
                            const chart = new CanvasJS.Chart('stateChartContainer', {
                                animationEnabled: true,
                                theme: 'theme1',
                                title: {
                                    text: 'Out Of School Children Live Reports From ' + data.state.name
                                },
                                data: [
                                    {
                                        type: 'column',
                                        dataPoints: dataPoints
                                    }
                                ]
                            })
                            chart.render()
                            renderOnBindEvent(dataPoints, chart)
                        }
                    }

                    function renderOnBindEvent(dataPoints, chart){
                        // Enable pusher logging - don't include this in production
                        // Pusher.logToConsole = true;
                        //
                        // var pusher = new Pusher('6d73f17bc76526db774b', {
                        //   cluster: 'eu',
                        //   forceTLS: true
                        // });
                        //
                        // var channel = pusher.subscribe('child-report');
                        // channel.bind('each-report', function(data) {
                        //     console.log(data)
                        //     dataPoints = dataPoints.map(x => {
                        //         console.log(x.stateId)
                        //         if(x.stateId == data.data.state){
                        //             if(isNaN(x.y)){
                        //                 x.y = 1
                        //             }else{
                        //                 x.y += 1
                        //             }
                        //             // console.log(x.y)
                        //         }
                        //         console.log(x)
                        //         return x
                        //     })
                        //     chart.render()
                        // })
                    }

                    function mapDataPointAndReport(dataPoints, reports){
                        const totalReports = reports.length
                        const reportCounts = reports.reduce((acc, report) => ((acc[report.local_government] = (acc[report.local_government] || 0) + 1), acc), {})
                        dataPoints.forEach(dataP => {
                            var label = dataP.label
                            if(reportCounts[label]){
                                dataP.y = reportCounts[label]
                            }
                        })
                    }

                    function getDataPoints(stateId){
                        let dataPointsObject = [
                            {
                              stateId: 2555,
                              dataPoint: [
                                {label: "Aba South",y:0, localGovtid:1},
                                {label: "Arochukwu",y:0, localGovtid:2},
                                {label: "Bende",y:0, localGovtid:3},
                                {label: "Ikwuano",y:0, localGovtid:4},
                                {label: "Isiala Ngwa North",y:0, localGovtid:5},
                                {label: "Isiala Ngwa South",y:0, localGovtid:6},
                                {label: "Isuikwuato",y:0, localGovtid:7},
                                {label: "Obi Ngwa",y:0, localGovtid:8},
                                {label: "Ohafia",y:0, localGovtid:9},
                                {label: "Osisioma",y:0, localGovtid:10},
                                {label: "Ugwunagbo",y:0, localGovtid:11},
                                {label: "Ukwa East",y:0, localGovtid:12},
                                {label: "Ukwa West",y:0, localGovtid:13},
                                {label: "Umuahia North",y:0, localGovtid:14},
                                {label: "Umuahia South",y:0, localGovtid:15},
                                {label: "Umu Nneochi",y:0, localGovtid:16}
                              ]
                            },
                            {
                              stateId: 2557,
                              dataPoint: [
                                  {label:'Fufure', y:0, localGovtid:1},
                                  {label:'Ganye', y:0, localGovtid:2},
                                  {label:'Gayuk', y:0, localGovtid:3},
                                  {label:'Gombi', y:0, localGovtid:4},
                                  {label:'Grie', y:0, localGovtid:5},
                                  {label:'Hong', y:0, localGovtid:6},
                                  {label:'Jada', y:0, localGovtid:7},
                                  {label:'Lamurde', y:0, localGovtid:8},
                                  {label:'Madagali', y:0, localGovtid:9},
                                  {label:'Maiha', y:0, localGovtid:10},
                                  {label:'Mayo Belwa', y:0, localGovtid:11},
                                  {label:'Michika', y:0, localGovtid:12},
                                  {label:'Mubi North', y:0, localGovtid:13},
                                  {label:'Mubi South', y:0, localGovtid:14},
                                  {label:'Numan', y:0, localGovtid:15},
                                  {label:'Shelleng', y:0, localGovtid:16},
                                  {label:'Song', y:0, localGovtid:17},
                                  {label:'Toungo', y:0, localGovtid:18},
                                  {label:'Yola North', y:0, localGovtid:19},
                                  {label:'Yola South', y:0, localGovtid:20}
                              ]
                            },
                            {
                              stateId: 2558,
                              dataPoint: [
                                  {label: "Eastern Obolo",y:0, localGovtid:1},
                                  {label: "Eket",y:0, localGovtid:2},
                                  {label: "Esit Eket",y:0, localGovtid:3},
                                  {label: "Essien Udim",y:0, localGovtid:4},
                                  {label: "Etim Ekpo",y:0, localGovtid:5},
                                  {label: "Etinan",y:0, localGovtid:6},
                                  {label: "Ibeno",y:0, localGovtid:7},
                                  {label: "Ibesikpo Asutan",y:0, localGovtid:8},
                                  {label: "Ibiono-Ibom",y:0, localGovtid:9},
                                  {label: "Ika",y:0, localGovtid:10},
                                  {label: "Ikono",y:0, localGovtid:11},
                                  {label: "Ikot Abasi",y:0, localGovtid:12},
                                  {label: "Ikot Ekpene",y:0, localGovtid:13},
                                  {label: "Ini",y:0, localGovtid:14},
                                  {label: "Itu",y:0, localGovtid:15},
                                  {label: "Mbo",y:0, localGovtid:16},
                                  {label: "Mkpat-Enin",y:0, localGovtid:17},
                                  {label: "Nsit-Atai",y:0, localGovtid:18},
                                  {label: "Nsit-Ibom",y:0, localGovtid:19},
                                  {label: "Nsit-Ubium",y:0, localGovtid:20},
                                  {label: "Obot Akara",y:0, localGovtid:21},
                                  {label: "Okobo",y:0, localGovtid:22},
                                  {label: "Onna",y:0, localGovtid:23},
                                  {label: "Oron",y:0, localGovtid:24},
                                  {label: "Oruk Anam",y:0, localGovtid:25},
                                  {label: "Udung-Uko",y:0, localGovtid:26},
                                  {label: "Ukanafun",y:0, localGovtid:27},
                                  {label: "Uruan",y:0, localGovtid:28},
                                  {label: "Urue-Offong/Oruko",y:0, localGovtid:29},
                                  {label: "Uyo",y:0, localGovtid:30}
                              ]
                            },
                            {
                              stateId: 2559,
                              dataPoint: [
                                  {label: "Anambra East",y:0, localGovtid:1},
                                  {label: "Anambra West",y:0, localGovtid:2},
                                  {label: "Anaocha",y:0, localGovtid:3},
                                  {label: "Awka North",y:0, localGovtid:4},
                                  {label: "Awka South",y:0, localGovtid:5},
                                  {label: "Ayamelum",y:0, localGovtid:6},
                                  {label: "Dunukofia",y:0, localGovtid:7},
                                  {label: "Ekwusigo",y:0, localGovtid:8},
                                  {label: "Idemili North",y:0, localGovtid:9},
                                  {label: "Idemili South",y:0, localGovtid:10},
                                  {label: "Ihiala",y:0, localGovtid:11},
                                  {label: "Njikoka",y:0, localGovtid:12},
                                  {label: "Nnewi North",y:0, localGovtid:13},
                                  {label: "Nnewi South",y:0, localGovtid:14},
                                  {label: "Ogbaru",y:0, localGovtid:15},
                                  {label: "Onitsha North",y:0, localGovtid:16},
                                  {label: "Onitsha South",y:0, localGovtid:17},
                                  {label: "Orumba North",y:0, localGovtid:18},
                                  {label: "Orumba South",y:0, localGovtid:19},
                                  {label: "Oyi",y:0, localGovtid:20}
                              ]
                            },
                            {
                              stateId: 2560,
                              dataPoint: [
                              {label: "Bauchi",y:0, localGovtid:1},
                              {label: "Bogoro",y:0, localGovtid:2},
                              {label: "Damban",y:0, localGovtid:3},
                              {label: "Darazo",y:0, localGovtid:4},
                              {label: "Dass",y:0, localGovtid:5},
                              {label: "Gamawa",y:0, localGovtid:6},
                              {label: "Ganjuwa",y:0, localGovtid:7},
                              {label: "Giade",y:0, localGovtid:8},
                              {label: "Itas/Gadau",y:0, localGovtid:9},
                              {label: "Jama are",y:0, localGovtid:10},
                              {label: "Katagum",y:0, localGovtid:11},
                              {label: "Kirfi",y:0, localGovtid:12},
                              {label: "Misau",y:0, localGovtid:13},
                              {label: "Ningi",y:0, localGovtid:14},
                              {label: "Shira",y:0, localGovtid:15},
                              {label: "Tafawa Balewa",y:0, localGovtid:16},
                              {label: "Toro",y:0, localGovtid:17},
                              {label: "Warji",y:0, localGovtid:18},
                              {label: "Zaki",y:0, localGovtid:19}
                              ]
                            },
                            {
                              stateId: 2561,
                              dataPoint: [
                              {label: "Ekeremor",y:0, localGovtid:1},
                              {label: "Kolokuma/Opokuma",y:0, localGovtid:2},
                              {label: "Nembe",y:0, localGovtid:3},
                              {label: "Ogbia",y:0, localGovtid:4},
                              {label: "Sagbama",y:0, localGovtid:5},
                              {label: "Southern Ijaw",y:0, localGovtid:6},
                              {label: "Yenagoa",y:0, localGovtid:7}
                              ]
                            },
                            {
                              stateId: 2562,
                              dataPoint: [
                                  {label: "Apa",y:0, localGovtid:1},
                                  {label: "Ado",y:0, localGovtid:2},
                                  {label: "Buruku",y:0, localGovtid:3},
                                  {label: "Gboko",y:0, localGovtid:4},
                                  {label: "Guma",y:0, localGovtid:5},
                                  {label: "Gwer East",y:0, localGovtid:6},
                                  {label: "Gwer West",y:0, localGovtid:7},
                                  {label: "Katsina-Ala",y:0, localGovtid:8},
                                  {label: "Konshisha",y:0, localGovtid:9},
                                  {label: "Kwande",y:0, localGovtid:10},
                                  {label: "Logo",y:0, localGovtid:11},
                                  {label: "Makurdi",y:0, localGovtid:12},
                                  {label: "Obi",y:0, localGovtid:13},
                                  {label: "Ogbadibo",y:0, localGovtid:14},
                                  {label: "Ohimini",y:0, localGovtid:15},
                                  {label: "Oju",y:0, localGovtid:16},
                                  {label: "Okpokwu",y:0, localGovtid:17},
                                  {label: "Oturkpo",y:0, localGovtid:18},
                                  {label: "Tarka",y:0, localGovtid:19},
                                  {label: "Ukum",y:0, localGovtid:20},
                                  {label: "Ushongo",y:0, localGovtid:21},
                                  {label: "Vandeikya",y:0, localGovtid:22}
                              ]
                            },
                            {
                              stateId: 2563,
                              dataPoint: [
                                  {label: "Askira/Uba",y:0, localGovtid:1},
                                  {label: "Bama",y:0, localGovtid:2},
                                  {label: "Bayo",y:0, localGovtid:3},
                                  {label: "Biu",y:0, localGovtid:4},
                                  {label: "Chibok",y:0, localGovtid:5},
                                  {label: "Damboa",y:0, localGovtid:6},
                                  {label: "Dikwa",y:0, localGovtid:7},
                                  {label: "Gubio",y:0, localGovtid:8},
                                  {label: "Guzamala",y:0, localGovtid:9},
                                  {label: "Gwoza",y:0, localGovtid:10},
                                  {label: "Hawul",y:0, localGovtid:11},
                                  {label: "Jere",y:0, localGovtid:12},
                                  {label: "Kaga",y:0, localGovtid:13},
                                  {label: "Kala/Balge",y:0, localGovtid:14},
                                  {label: "Konduga",y:0, localGovtid:15},
                                  {label: "Kukawa",y:0, localGovtid:16},
                                  {label: "Kwaya Kusar",y:0, localGovtid:17},
                                  {label: "Mafa",y:0, localGovtid:18},
                                  {label: "Magumeri",y:0, localGovtid:19},
                                  {label: "Maiduguri",y:0, localGovtid:20},
                                  {label: "Marte",y:0, localGovtid:21},
                                  {label: "Mobbar",y:0, localGovtid:22},
                                  {label: "Monguno",y:0, localGovtid:23},
                                  {label: "Ngala",y:0, localGovtid:24},
                                  {label: "Nganzai",y:0, localGovtid:25},
                                  {label: "Shani",y:0, localGovtid:26}
                              ]
                            },
                            {
                              stateId: 2564,
                              dataPoint: [
                                  {label: "Akamkpa",y:0, localGovtid:1},
                                  {label: "Akpabuyo",y:0, localGovtid:2},
                                  {label: "Bakassi",y:0, localGovtid:3},
                                  {label: "Bekwarra",y:0, localGovtid:4},
                                  {label: "Biase",y:0, localGovtid:5},
                                  {label: "Boki",y:0, localGovtid:6},
                                  {label: "Calabar Municipal",y:0, localGovtid:7},
                                  {label: "Calabar South",y:0, localGovtid:8},
                                  {label: "Etung",y:0, localGovtid:9},
                                  {label: "Ikom",y:0, localGovtid:10},
                                  {label: "Obanliku",y:0, localGovtid:11},
                                  {label: "Obubra",y:0, localGovtid:12},
                                  {label: "Obudu",y:0, localGovtid:13},
                                  {label: "Odukpani",y:0, localGovtid:14},
                                  {label: "Ogoja",y:0, localGovtid:15},
                                  {label: "Yakuur",y:0, localGovtid:16},
                                  {label: "Yala",y:0, localGovtid:17}
                              ]
                            },
                            {
                              stateId: 2565,
                              dataPoint: [
                                  {label: "Aniocha South",y:0, localGovtid:1},
                                  {label: "Bomadi",y:0, localGovtid:2},
                                  {label: "Burutu",y:0, localGovtid:3},
                                  {label: "Ethiope East",y:0, localGovtid:4},
                                  {label: "Ethiope West",y:0, localGovtid:5},
                                  {label: "Ika North East",y:0, localGovtid:6},
                                  {label: "Ika South",y:0, localGovtid:7},
                                  {label: "Isoko North",y:0, localGovtid:8},
                                  {label: "Isoko South",y:0, localGovtid:9},
                                  {label: "Ndokwa East",y:0, localGovtid:10},
                                  {label: "Ndokwa West",y:0, localGovtid:11},
                                  {label: "Okpe",y:0, localGovtid:12},
                                  {label: "Oshimili North",y:0, localGovtid:13},
                                  {label: "Oshimili South",y:0, localGovtid:14},
                                  {label: "Patani",y:0, localGovtid:15},
                                  {label: "Sapele",y:0, localGovtid:16},
                                  {label: "Udu",y:0, localGovtid:17},
                                  {label: "Ughelli North",y:0, localGovtid:18},
                                  {label: "Ughelli South",y:0, localGovtid:19},
                                  {label: "Ukwuani",y:0, localGovtid:20},
                                  {label: "Uvwie",y:0, localGovtid:21},
                                  {label: "Warri North",y:0, localGovtid:22},
                                  {label: "Warri South",y:0, localGovtid:23},
                                  {label: "Warri South West",y:0, localGovtid:24}
                              ]
                            },
                            {
                              stateId: 2566,
                              dataPoint: [
                              {label: "Afikpo North",y:0, localGovtid:1},
                              {label: "Afikpo South",y:0, localGovtid:2},
                              {label: "Ebonyi",y:0, localGovtid:3},
                              {label: "Ezza North",y:0, localGovtid:4},
                              {label: "Ezza South",y:0, localGovtid:5},
                              {label: "Ikwo",y:0, localGovtid:6},
                              {label: "Ishielu",y:0, localGovtid:7},
                              {label: "Ivo",y:0, localGovtid:8},
                              {label: "Izzi",y:0, localGovtid:9},
                              {label: "Ohaozara",y:0, localGovtid:10},
                              {label: "Ohaukwu",y:0, localGovtid:11},
                              {label: "Onicha",y:0, localGovtid:12}
                              ]
                            },
                            {
                              stateId: 2567,
                              dataPoint: [
                                  {label: "Egor",y:0, localGovtid:1},
                                  {label: "Esan Central",y:0, localGovtid:2},
                                  {label: "Esan North-East",y:0, localGovtid:3},
                                  {label: "Esan South-East",y:0, localGovtid:4},
                                  {label: "Esan West",y:0, localGovtid:5},
                                  {label: "Etsako Central",y:0, localGovtid:6},
                                  {label: "Etsako East",y:0, localGovtid:7},
                                  {label: "Etsako West",y:0, localGovtid:8},
                                  {label: "Igueben",y:0, localGovtid:9},
                                  {label: "Ikpoba Okha",y:0, localGovtid:10},
                                  {label: "Orhionmwon",y:0, localGovtid:11},
                                  {label: "Oredo",y:0, localGovtid:12},
                                  {label: "Ovia North-East",y:0, localGovtid:13},
                                  {label: "Ovia South-West",y:0, localGovtid:14},
                                  {label: "Owan East",y:0, localGovtid:15},
                                  {label: "Owan West",y:0, localGovtid:16},
                                  {label: "Uhunmwonde",y:0, localGovtid:17}
                              ]
                            },
                            {
                              stateId: 2568,
                              dataPoint: [
                                  {label: "Efon",y:0, localGovtid:1},
                                  {label: "Ekiti East",y:0, localGovtid:2},
                                  {label: "Ekiti South-West",y:0, localGovtid:3},
                                  {label: "Ekiti West",y:0, localGovtid:4},
                                  {label: "Emure",y:0, localGovtid:5},
                                  {label: "Gbonyin",y:0, localGovtid:6},
                                  {label: "Ido Osi",y:0, localGovtid:7},
                                  {label: "Ijero",y:0, localGovtid:8},
                                  {label: "Ikere",y:0, localGovtid:9},
                                  {label: "Ikole",y:0, localGovtid:10},
                                  {label: "Ilejemeje",y:0, localGovtid:11},
                                  {label: "Irepodun/Ifelodun",y:0, localGovtid:12},
                                  {label: "Ise/Orun",y:0, localGovtid:13},
                                  {label: "Moba",y:0, localGovtid:14},
                                  {label: "Oye",y:0, localGovtid:15}
                              ]
                            },
                            {
                              stateId: 2569,
                              dataPoint: [
                                  {label: "Awgu",y:0, localGovtid:1},
                                  {label: "Enugu East",y:0, localGovtid:2},
                                  {label: "Enugu North",y:0, localGovtid:3},
                                  {label: "Enugu South",y:0, localGovtid:4},
                                  {label: "Ezeagu",y:0, localGovtid:5},
                                  {label: "Igbo Etiti",y:0, localGovtid:6},
                                  {label: "Igbo Eze North",y:0, localGovtid:7},
                                  {label: "Igbo Eze South",y:0, localGovtid:8},
                                  {label: "Isi Uzo",y:0, localGovtid:9},
                                  {label: "Nkanu East",y:0, localGovtid:10},
                                  {label: "Nkanu West",y:0, localGovtid:11},
                                  {label: "Nsukka",y:0, localGovtid:12},
                                  {label: "Oji River",y:0, localGovtid:13},
                                  {label: "Udenu",y:0, localGovtid:14},
                                  {label: "Udi",y:0, localGovtid:15},
                                  {label: "Uzo Uwani",y:0, localGovtid:15}
                              ]
                            },
                            {
                              stateId: 2556,
                              dataPoint: [
                                  {label: "Bwari",y:0, localGovtid:1},
                                  {label: "Gwagwalada",y:0, localGovtid:2},
                                  {label: "Kuje",y:0, localGovtid:3},
                                  {label: "Kwali",y:0, localGovtid:4},
                                  {label: "Municipal Area Council",y:0, localGovtid:5}
                              ]
                            },
                            {
                              stateId: 2570,
                              dataPoint: [
                                  {label: "Balanga",y:0, localGovtid:1},
                                  {label: "Billiri",y:0, localGovtid:2},
                                  {label: "Dukku",y:0, localGovtid:3},
                                  {label: "Funakaye",y:0, localGovtid:4},
                                  {label: "Gombe",y:0, localGovtid:5},
                                  {label: "Kaltungo",y:0, localGovtid:6},
                                  {label: "Kwami",y:0, localGovtid:7},
                                  {label: "Nafada",y:0, localGovtid:8},
                                  {label: "Shongom",y:0, localGovtid:9},
                                  {label: "Yamaltu/Deba",y:0, localGovtid:10}
                              ]
                            },
                            {
                              stateId: 2571,
                              dataPoint: [
                                  {label: "Ahiazu Mbaise",y:0, localGovtid:1},
                                  {label: "Ehime Mbano",y:0, localGovtid:2},
                                  {label: "Ezinihitte",y:0, localGovtid:3},
                                  {label: "Ideato North",y:0, localGovtid:4},
                                  {label: "Ideato South",y:0, localGovtid:5},
                                  {label: "Ihitte/Uboma",y:0, localGovtid:6},
                                  {label: "Ikeduru",y:0, localGovtid:7},
                                  {label: "Isiala Mbano",y:0, localGovtid:8},
                                  {label: "Isu",y:0, localGovtid:9},
                                  {label: "Mbaitoli",y:0, localGovtid:10},
                                  {label: "Ngor Okpala",y:0, localGovtid:11},
                                  {label: "Njaba",y:0, localGovtid:12},
                                  {label: "Nkwerre",y:0, localGovtid:13},
                                  {label: "Nwangele",y:0, localGovtid:14},
                                  {label: "Obowo",y:0, localGovtid:15},
                                  {label: "Oguta",y:0, localGovtid:16},
                                  {label: "Ohaji/Egbema",y:0, localGovtid:17},
                                  {label: "Okigwe",y:0, localGovtid:18},
                                  {label: "Orlu",y:0, localGovtid:19},
                                  {label: "Orsu",y:0, localGovtid:20},
                                  {label: "Oru East",y:0, localGovtid:21},
                                  {label: "Oru West",y:0, localGovtid:22},
                                  {label: "Owerri Municipal",y:0, localGovtid:23},
                                  {label: "Owerri North",y:0, localGovtid:24},
                                  {label: "Owerri West",y:0, localGovtid:25},
                                  {label: "Unuimo",y:0, localGovtid:26}
                              ]
                            },
                            {
                              stateId: 2572,
                              dataPoint: [
                                  {label: "Babura",y:0, localGovtid:1},
                                  {label: "Biriniwa",y:0, localGovtid:2},
                                  {label: "Birnin Kudu",y:0, localGovtid:3},
                                  {label: "Buji",y:0, localGovtid:4},
                                  {label: "Dutse",y:0, localGovtid:5},
                                  {label: "Gagarawa",y:0, localGovtid:6},
                                  {label: "Garki",y:0, localGovtid:7},
                                  {label: "Gumel",y:0, localGovtid:8},
                                  {label: "Guri",y:0, localGovtid:9},
                                  {label: "Gwaram",y:0, localGovtid:10},
                                  {label: "Gwiwa",y:0, localGovtid:11},
                                  {label: "Hadejia",y:0, localGovtid:12},
                                  {label: "Jahun",y:0, localGovtid:13},
                                  {label: "Kafin Hausa",y:0, localGovtid:14},
                                  {label: "Kazaure",y:0, localGovtid:15},
                                  {label: "Kiri Kasama",y:0, localGovtid:16},
                                  {label: "Kiyawa",y:0, localGovtid:17},
                                  {label: "Kaugama",y:0, localGovtid:18},
                                  {label: "Maigatari",y:0, localGovtid:19},
                                  {label: "Malam Madori",y:0, localGovtid:20},
                                  {label: "Ukwuani",y:0, localGovtid:20},
                                  {label: "Miga",y:0, localGovtid:21},
                                  {label: "Ringim",y:0, localGovtid:22},
                                  {label: "Roni",y:0, localGovtid:23},
                                  {label: "Sule Tankarkar",y:0, localGovtid:24},
                                  {label: "Taura",y:0, localGovtid:25},
                                  {label: "Yankwashi",y:0, localGovtid:26}
                              ]
                            },
                            {
                              stateId: 2573,
                              dataPoint: [
                                  {label: "Chikun",y:0, localGovtid:1},
                                  {label: "Giwa",y:0, localGovtid:2},
                                  {label: "Igabi",y:0, localGovtid:3},
                                  {label: "Ikara",y:0, localGovtid:4},
                                  {label: "Jaba",y:0, localGovtid:5},
                                  {label: "Jema a",y:0, localGovtid:6},
                                  {label: "Kachia",y:0, localGovtid:7},
                                  {label: "Kaduna North",y:0, localGovtid:8},
                                  {label: "Kaduna South",y:0, localGovtid:9},
                                  {label: "Kagarko",y:0, localGovtid:10},
                                  {label: "Kajuru",y:0, localGovtid:11},
                                  {label: "Kaura",y:0, localGovtid:12},
                                  {label: "Kauru",y:0, localGovtid:13},
                                  {label: "Kubau",y:0, localGovtid:14},
                                  {label: "Kudan",y:0, localGovtid:15},
                                  {label: "Lere",y:0, localGovtid:16},
                                  {label: "Makarfi",y:0, localGovtid:17},
                                  {label: "Sabon Gari",y:0, localGovtid:18},
                                  {label: "Sanga",y:0, localGovtid:19},
                                  {label: "Soba",y:0, localGovtid:20},
                                  {label: "Zangon Kataf",y:0, localGovtid:21},
                                  {label: "Zaria",y:0, localGovtid:22}
                              ]
                            },
                            {
                              stateId: 2574,
                              dataPoint: [
                                  {label: "Albasu",y:0, localGovtid:1},
                                  {label: "Bagwai",y:0, localGovtid:2},
                                  {label: "Bebeji",y:0, localGovtid:3},
                                  {label: "Bichi",y:0, localGovtid:4},
                                  {label: "Bunkure",y:0, localGovtid:5},
                                  {label: "Dala",y:0, localGovtid:6},
                                  {label: "Dambatta",y:0, localGovtid:7},
                                  {label: "Dawakin Kudu",y:0, localGovtid:8},
                                  {label: "Dawakin Tofa",y:0, localGovtid:9},
                                  {label: "Doguwa",y:0, localGovtid:10},
                                  {label: "Fagge",y:0, localGovtid:11},
                                  {label: "Gabasawa",y:0, localGovtid:12},
                                  {label: "Garko",y:0, localGovtid:13},
                                  {label: "Garun Mallam",y:0, localGovtid:14},
                                  {label: "Gaya",y:0, localGovtid:15},
                                  {label: "Gezawa",y:0, localGovtid:16},
                                  {label: "Gwale",y:0, localGovtid:17},
                                  {label: "Gwarzo",y:0, localGovtid:18},
                                  {label: "Kabo",y:0, localGovtid:19},
                                  {label: "Kano Municipal",y:0, localGovtid:20},
                                  {label: "Karaye",y:0, localGovtid:21},
                                  {label: "Kibiya",y:0, localGovtid:22},
                                  {label: "Kiru",y:0, localGovtid:23},
                                  {label: "Kumbotso",y:0, localGovtid:24},
                                  {label: "Kunchi",y:0, localGovtid:25},
                                  {label: "Kura",y:0, localGovtid:26},
                                  {label: "Madobi",y:0, localGovtid:27},
                                  {label: "Makoda",y:0, localGovtid:28},
                                  {label: "Minjibir",y:0, localGovtid:29},
                                  {label: "Nasarawa",y:0, localGovtid:30},
                                  {label: "Rano",y:0, localGovtid:31},
                                  {label: "Rimin Gado",y:0, localGovtid:32},
                                  {label: "Rogo",y:0, localGovtid:33},
                                  {label: "Shanono",y:0, localGovtid:34},
                                  {label: "Sumaila",y:0, localGovtid:35},
                                  {label: "Takai",y:0, localGovtid:36},
                                  {label: "Tarauni",y:0, localGovtid:37},
                                  {label: "Tofa",y:0, localGovtid:38},
                                  {label: "Tsanyawa",y:0, localGovtid:39},
                                  {label: "Tudun Wada",y:0, localGovtid:40},
                                  {label: "Ungogo",y:0, localGovtid:41},
                                  {label: "Warawa",y:0, localGovtid:42},
                                  {label: "Wudil",y:0, localGovtid:43}
                              ]
                            },
                            {
                              stateId: 2575,
                              dataPoint: [
                                  {label: "Batagarawa",y:0, localGovtid:1},
                                  {label: "Batsari",y:0, localGovtid:2},
                                  {label: "Baure",y:0, localGovtid:3},
                                  {label: "Bindawa",y:0, localGovtid:4},
                                  {label: "Charanchi",y:0, localGovtid:5},
                                  {label: "Dandume",y:0, localGovtid:6},
                                  {label: "Danja",y:0, localGovtid:7},
                                  {label: "Dan Musa",y:0, localGovtid:8},
                                  {label: "Daura",y:0, localGovtid:9},
                                  {label: "Dutsi",y:0, localGovtid:10},
                                  {label: "Dutsin Ma",y:0, localGovtid:11},
                                  {label: "Faskari",y:0, localGovtid:12},
                                  {label: "Funtua",y:0, localGovtid:13},
                                  {label: "Ingawa",y:0, localGovtid:14},
                                  {label: "Jibia",y:0, localGovtid:15},
                                  {label: "Kafur",y:0, localGovtid:16},
                                  {label: "Kaita",y:0, localGovtid:17},
                                  {label: "Kankara",y:0, localGovtid:18},
                                  {label: "Kankia",y:0, localGovtid:19},
                                  {label: "Katsina",y:0, localGovtid:20},
                                  {label: "Kurfi",y:0, localGovtid:21},
                                  {label: "Kusada",y:0, localGovtid:22},
                                  {label: "Mai Adua",y:0, localGovtid:23},
                                  {label: "Malumfashi",y:0, localGovtid:24},
                                  {label: "Mani",y:0, localGovtid:25},
                                  {label: "Mashi",y:0, localGovtid:26},
                                  {label: "Matazu",y:0, localGovtid:27},
                                  {label: "Musawa",y:0, localGovtid:28},
                                  {label: "Rimi",y:0, localGovtid:29},
                                  {label: "Sabuwa",y:0, localGovtid:30},
                                  {label: "Safana",y:0, localGovtid:31},
                                  {label: "Sandamu",y:0, localGovtid:32},
                                  {label: "Zango",y:0, localGovtid:32}
                              ]
                            },
                            {
                              stateId: 2576,
                              dataPoint: [
                                  {label: "Arewa Dandi",y:0, localGovtid:1},
                                  {label: "Argungu",y:0, localGovtid:2},
                                  {label: "Augie",y:0, localGovtid:3},
                                  {label: "Bagudo",y:0, localGovtid:4},
                                  {label: "Birnin Kebbi",y:0, localGovtid:5},
                                  {label: "Bunza",y:0, localGovtid:6},
                                  {label: "Dandi",y:0, localGovtid:7},
                                  {label: "Fakai",y:0, localGovtid:8},
                                  {label: "Gwandu",y:0, localGovtid:9},
                                  {label: "Jega",y:0, localGovtid:10},
                                  {label: "Kalgo",y:0, localGovtid:11},
                                  {label: "Koko/Besse",y:0, localGovtid:12},
                                  {label: "Maiyama",y:0, localGovtid:13},
                                  {label: "Ngaski",y:0, localGovtid:14},
                                  {label: "Sakaba",y:0, localGovtid:15},
                                  {label: "Shanga",y:0, localGovtid:16},
                                  {label: "Suru",y:0, localGovtid:17},
                                  {label: "Wasagu/Danko",y:0, localGovtid:18},
                                  {label: "Yauri",y:0, localGovtid:19},
                                  {label: "Zuru",y:0, localGovtid:20}
                              ]
                            },
                            {
                              stateId: 2577,
                              dataPoint: [
                                  {label: "Ajaokuta",y:0, localGovtid:1},
                                  {label: "Ankpa",y:0, localGovtid:2},
                                  {label: "Bassa",y:0, localGovtid:3},
                                  {label: "Dekina",y:0, localGovtid:4},
                                  {label: "Ibaji",y:0, localGovtid:5},
                                  {label: "Idah",y:0, localGovtid:6},
                                  {label: "Igalamela Odolu",y:0, localGovtid:7},
                                  {label: "Ijumu",y:0, localGovtid:8},
                                  {label: "Kabba/Bunu",y:0, localGovtid:9},
                                  {label: "Kogi",y:0, localGovtid:10},
                                  {label: "Lokoja",y:0, localGovtid:11},
                                  {label: "Mopa Muro",y:0, localGovtid:12},
                                  {label: "Ofu",y:0, localGovtid:13},
                                  {label: "Ogori/Magongo",y:0, localGovtid:14},
                                  {label: "Okehi",y:0, localGovtid:15},
                                  {label: "Okene",y:0, localGovtid:16},
                                  {label: "Olamaboro",y:0, localGovtid:17},
                                  {label: "Omala",y:0, localGovtid:18},
                                  {label: "Yagba East",y:0, localGovtid:19},
                                  {label: "Yagba West",y:0, localGovtid:20}
                              ]
                            },
                            {
                              stateId: 2578,
                              dataPoint: [
                                  {label: "Baruten",y:0, localGovtid:1},
                                  {label: "Edu",y:0, localGovtid:2},
                                  {label: "Ekiti",y:0, localGovtid:3},
                                  {label: "Ifelodun",y:0, localGovtid:4},
                                  {label: "Ilorin East",y:0, localGovtid:5},
                                  {label: "Ilorin South",y:0, localGovtid:6},
                                  {label: "Ilorin West",y:0, localGovtid:7},
                                  {label: "Irepodun",y:0, localGovtid:8},
                                  {label: "Isin",y:0, localGovtid:9},
                                  {label: "Kaiama",y:0, localGovtid:10},
                                  {label: "Moro",y:0, localGovtid:11},
                                  {label: "Offa",y:0, localGovtid:12},
                                  {label: "Oke Ero",y:0, localGovtid:13},
                                  {label: "Oyun",y:0, localGovtid:14},
                                  {label: "Pategi",y:0, localGovtid:15}
                              ]
                            },
                            {
                              stateId: 2579,
                              dataPoint: [
                                  {label: "Ajeromi-Ifelodun",y:0, localGovtid:1},
                                  {label: "Alimosho",y:0, localGovtid:2},
                                  {label: "Amuwo-Odofin",y:0, localGovtid:3},
                                  {label: "Apapa",y:0, localGovtid:4},
                                  {label: "Badagry",y:0, localGovtid:5},
                                  {label: "Epe",y:0, localGovtid:6},
                                  {label: "Eti Osa",y:0, localGovtid:7},
                                  {label: "Ibeju-Lekki",y:0, localGovtid:8},
                                  {label: "Ifako-Ijaiye",y:0, localGovtid:9},
                                  {label: "Ikeja",y:0, localGovtid:10},
                                  {label: "Ikorodu",y:0, localGovtid:11},
                                  {label: "Kosofe",y:0, localGovtid:12},
                                  {label: "Lagos Island",y:0, localGovtid:13},
                                  {label: "Lagos Mainland",y:0, localGovtid:14},
                                  {label: "Mushin",y:0, localGovtid:15},
                                  {label: "Ojo",y:0, localGovtid:16},
                                  {label: "Oshodi-Isolo",y:0, localGovtid:17},
                                  {label: "Shomolu",y:0, localGovtid:18},
                                  {label: "Surulere",y:0, localGovtid:19}
                              ]
                            },
                            {
                              stateId: 2580,
                              dataPoint: [
                                  {label: "Awe",y:0, localGovtid:1},
                                  {label: "Doma",y:0, localGovtid:2},
                                  {label: "Karu",y:0, localGovtid:3},
                                  {label: "Keana",y:0, localGovtid:4},
                                  {label: "Keffi",y:0, localGovtid:5},
                                  {label: "Kokona",y:0, localGovtid:6},
                                  {label: "Lafia",y:0, localGovtid:7},
                                  {label: "Nasarawa",y:0, localGovtid:8},
                                  {label: "Nasarawa Egon",y:0, localGovtid:9},
                                  {label: "Obi",y:0, localGovtid:10},
                                  {label: "Toto",y:0, localGovtid:11},
                                  {label: "Wamba",y:0, localGovtid:12}
                              ]
                            },
                            {
                              stateId: 2581,
                              dataPoint: [
                                  {label: "Agwara",y:0, localGovtid:1},
                                  {label: "Bida",y:0, localGovtid:2},
                                  {label: "Borgu",y:0, localGovtid:3},
                                  {label: "Bosso",y:0, localGovtid:4},
                                  {label: "Chanchaga",y:0, localGovtid:5},
                                  {label: "Edati",y:0, localGovtid:6},
                                  {label: "Gbako",y:0, localGovtid:7},
                                  {label: "Gurara",y:0, localGovtid:8},
                                  {label: "Katcha",y:0, localGovtid:9},
                                  {label: "Kontagora",y:0, localGovtid:10},
                                  {label: "Lapai",y:0, localGovtid:11},
                                  {label: "Lavun",y:0, localGovtid:12},
                                  {label: "Magama",y:0, localGovtid:13},
                                  {label: "Mariga",y:0, localGovtid:14},
                                  {label: "Mashegu",y:0, localGovtid:15},
                                  {label: "Mokwa",y:0, localGovtid:16},
                                  {label: "Moya",y:0, localGovtid:17},
                                  {label: "Paikoro",y:0, localGovtid:18},
                                  {label: "Rafi",y:0, localGovtid:19},
                                  {label: "Rijau",y:0, localGovtid:20},
                                  {label: "Shiroro",y:0, localGovtid:21},
                                  {label: "Suleja",y:0, localGovtid:22},
                                  {label: "Tafa",y:0, localGovtid:23},
                                  {label: "Wushishi",y:0, localGovtid:24}
                              ]
                            },
                            {
                              stateId: 2582,
                              dataPoint: [
                                  {label: "Abeokuta South",y:0, localGovtid:1},
                                  {label: "Ado-Odo/Ota",y:0, localGovtid:2},
                                  {label: "Egbado North",y:0, localGovtid:3},
                                  {label: "Egbado South",y:0, localGovtid:4},
                                  {label: "Ewekoro",y:0, localGovtid:5},
                                  {label: "Ifo",y:0, localGovtid:6},
                                  {label: "Ijebu East",y:0, localGovtid:7},
                                  {label: "Ijebu North",y:0, localGovtid:8},
                                  {label: "Ijebu North East",y:0, localGovtid:9},
                                  {label: "Ijebu Ode",y:0, localGovtid:10},
                                  {label: "Ikenne",y:0, localGovtid:11},
                                  {label: "Imeko Afon",y:0, localGovtid:12},
                                  {label: "Ipokia",y:0, localGovtid:13},
                                  {label: "Obafemi Owode",y:0, localGovtid:14},
                                  {label: "Odeda",y:0, localGovtid:15},
                                  {label: "Odogbolu",y:0, localGovtid:16},
                                  {label: "Ogun Waterside",y:0, localGovtid:17},
                                  {label: "Remo North",y:0, localGovtid:18},
                                  {label: "Shagamu",y:0, localGovtid:19}
                              ]
                            },
                            {
                              stateId: 2583,
                              dataPoint: [
                                  {label: "Akoko North-West",y: 0, localGovtId: 1},
                                  {label: "Akoko South-West",y: 0, localGovtId: 2},
                                  {label: "Akoko South-East",y: 0, localGovtId: 3},
                                  {label: "Akure North",y: 0, localGovtId: 4},
                                  {label: "Akure South",y: 0, localGovtId: 5},
                                  {label: "Ese Odo",y: 0, localGovtId: 6},
                                  {label: "Idanre",y: 0, localGovtId: 7},
                                  {label: "Ifedore",y: 0, localGovtId: 8},
                                  {label: "Ilaje",y: 0, localGovtId: 9},
                                  {label: "Ile Oluji/Okeigbo",y: 0, localGovtId: 10},
                                  {label: "Irele",y: 0, localGovtId: 11},
                                  {label: "Odigbo",y: 0, localGovtId: 12},
                                  {label: "Okitipupa",y: 0, localGovtId: 13},
                                  {label: "Ondo East",y: 0, localGovtId: 14},
                                  {label: "Ondo West",y: 0, localGovtId: 15},
                                  {label: "Ose",y: 0, localGovtId: 16},
                                  {label: "Owo",y: 0, localGovtId: 17}
                              ]
                            },
                            {
                              stateId: 2584,
                              dataPoint: [
                                  {label: "Atakunmosa West",y: 0, localGovtId: 1},
                                  {label: "Aiyedaade",y: 0, localGovtId: 2},
                                  {label: "Aiyedire",y: 0, localGovtId: 3},
                                  {label: "Boluwaduro",y: 0, localGovtId: 4},
                                  {label: "Boripe",y: 0, localGovtId: 5},
                                  {label: "Ede North",y: 0, localGovtId: 6},
                                  {label: "Ede South",y: 0, localGovtId: 7},
                                  {label: "Ife Central",y: 0, localGovtId: 8},
                                  {label: "Ife East",y: 0, localGovtId: 9},
                                  {label: "Ife North",y: 0, localGovtId: 10},
                                  {label: "Ife South",y: 0, localGovtId: 11},
                                  {label: "Egbedore",y: 0, localGovtId: 12},
                                  {label: "Ejigbo",y: 0, localGovtId: 13},
                                  {label: "Ifedayo",y: 0, localGovtId: 14},
                                  {label: "Ifelodun",y: 0, localGovtId: 15},
                                  {label: "Ila",y: 0, localGovtId: 16},
                                  {label: "Ilesa East",y: 0, localGovtId: 17},
                                  {label: "Ilesa West",y: 0, localGovtId: 18},
                                  {label: "Irepodun",y: 0, localGovtId: 19},
                                  {label: "Irewole",y: 0, localGovtId: 20},
                                  {label: "Isokan",y: 0, localGovtId: 21},
                                  {label: "Iwo",y: 0, localGovtId: 22},
                                  {label: "Obokun",y: 0, localGovtId: 23},
                                  {label: "Odo Otin",y: 0, localGovtId: 24},
                                  {label: "Ola Oluwa",y: 0, localGovtId: 25},
                                  {label: "Olorunda",y: 0, localGovtId: 26},
                                  {label: "Oriade",y: 0, localGovtId: 27},
                                  {label: "Orolu",y: 0, localGovtId: 28},
                                  {label: "Osogbo",y: 0, localGovtId: 29}
                              ]
                            },
                            {
                              stateId: 2585,
                              dataPoint: [
                                  {label: "Akinyele",y: 0, localGovtId: 1},
                                  {label: "Atiba",y: 0, localGovtId: 2},
                                  {label: "Atisbo",y: 0, localGovtId: 3},
                                  {label: "Egbeda",y: 0, localGovtId: 4},
                                  {label: "Ibadan North",y: 0, localGovtId: 5},
                                  {label: "Ibadan North-East",y: 0, localGovtId: 6},
                                  {label: "Ibadan North-West",y: 0, localGovtId: 7},
                                  {label: "Ibadan South-East",y: 0, localGovtId: 8},
                                  {label: "Ibadan South-West",y: 0, localGovtId: 9},
                                  {label: "Ibarapa Central",y: 0, localGovtId: 10},
                                  {label: "Ibarapa East",y: 0, localGovtId: 11},
                                  {label: "Ibarapa North",y: 0, localGovtId: 12},
                                  {label: "Ido",y: 0, localGovtId: 13},
                                  {label: "Irepo",y: 0, localGovtId: 14},
                                  {label: "Iseyin",y: 0, localGovtId: 15},
                                  {label: "Itesiwaju",y: 0, localGovtId: 16},
                                  {label: "Iwajowa",y: 0, localGovtId: 17},
                                  {label: "Kajola",y: 0, localGovtId: 18},
                                  {label: "Lagelu",y: 0, localGovtId: 19},
                                  {label: "Ogbomosho North",y: 0, localGovtId: 20},
                                  {label: "Ogbomosho South",y: 0, localGovtId: 21},
                                  {label: "Ogo Oluwa",y: 0, localGovtId: 22},
                                  {label: "Olorunsogo",y: 0, localGovtId: 23},
                                  {label: "Oluyole",y: 0, localGovtId: 24},
                                  {label: "Ona Ara",y: 0, localGovtId: 25},
                                  {label: "Orelope",y: 0, localGovtId: 26},
                                  {label: "Ori Ire",y: 0, localGovtId: 27},
                                  {label: "Oyo",y: 0, localGovtId: 28},
                                  {label: "Oyo East",y: 0, localGovtId: 29},
                                  {label: "Saki East",y: 0, localGovtId: 30},
                                  {label: "Saki West",y: 0, localGovtId: 31},
                                  {label: "Surulere",y: 0, localGovtId: 32}
                              ]
                            },
                            {
                              stateId: 2586,
                              dataPoint: [
                                  {label: "Barkin Ladi",y: 0, localGovtId: 1},
                                  {label: "Bassa",y: 0, localGovtId: 2},
                                  {label: "Jos East",y: 0, localGovtId: 3},
                                  {label: "Jos North",y: 0, localGovtId: 4},
                                  {label: "Jos South",y: 0, localGovtId: 5},
                                  {label: "Kanam",y: 0, localGovtId: 6},
                                  {label: "Kanke",y: 0, localGovtId: 7},
                                  {label: "Langtang South",y: 0, localGovtId: 8},
                                  {label: "Langtang North",y: 0, localGovtId: 9},
                                  {label: "Mangu",y: 0, localGovtId: 10},
                                  {label: "Mikang",y: 0, localGovtId: 11},
                                  {label: "Pankshin",y: 0, localGovtId: 12},
                                  {label: "Qua'an Pan",y: 0, localGovtId: 13},
                                  {label: "Riyom",y: 0, localGovtId: 14},
                                  {label: "Shendam",y: 0, localGovtId: 15},
                                  {label: "Wase",y: 0, localGovtId: 16}
                              ]
                            },
                            {
                              stateId: 2587,
                              dataPoint: [
                                  {label: "Ahoada East",y: 0, localGovtId: 1},
                                  {label: "Ahoada West",y: 0, localGovtId: 2},
                                  {label: "Akuku-Toru",y: 0, localGovtId: 3},
                                  {label: "Andoni",y: 0, localGovtId: 4},
                                  {label: "Asari-Toru",y: 0, localGovtId: 5},
                                  {label: "Bonny",y: 0, localGovtId: 6},
                                  {label: "Degema",y: 0, localGovtId: 7},
                                  {label: "Eleme",y: 0, localGovtId: 8},
                                  {label: "Emuoha",y: 0, localGovtId: 9},
                                  {label: "Etche",y: 0, localGovtId: 10},
                                  {label: "Gokana",y: 0, localGovtId: 11},
                                  {label: "Ikwerre",y: 0, localGovtId: 12},
                                  {label: "Khana",y: 0, localGovtId: 13},
                                  {label: "Obio/Akpor",y: 0, localGovtId: 14},
                                  {label: "Ogba/Egbema/Ndoni",y: 0, localGovtId: 15},
                                  {label: "Ogu/Bolo",y: 0, localGovtId: 16},
                                  {label: "Okrika",y: 0, localGovtId: 17},
                                  {label: "Omuma",y: 0, localGovtId: 18},
                                  {label: "Opobo/Nkoro",y: 0, localGovtId: 19},
                                  {label: "Oyigbo",y: 0, localGovtId: 20},
                                  {label: "Port Harcourt",y: 0, localGovtId: 21},
                                  {label: "Tai",y: 0, localGovtId: 22}
                              ]
                            },
                            {
                              stateId: 2588,
                              dataPoint: [
                                  {label: "Bodinga",y: 0, localGovtId: 1},
                                  {label: "Dange Shuni",y: 0, localGovtId: 2},
                                  {label: "Gada",y: 0, localGovtId: 3},
                                  {label: "Goronyo",y: 0, localGovtId: 4},
                                  {label: "Gudu",y: 0, localGovtId: 5},
                                  {label: "Gwadabawa",y: 0, localGovtId: 6},
                                  {label: "Illela",y: 0, localGovtId: 7},
                                  {label: "Isa",y: 0, localGovtId: 8},
                                  {label: "Kebbe",y: 0, localGovtId: 9},
                                  {label: "Kware",y: 0, localGovtId: 10},
                                  {label: "Rabah",y: 0, localGovtId: 11},
                                  {label: "Sabon Birni",y: 0, localGovtId: 12},
                                  {label: "Shagari",y: 0, localGovtId: 13},
                                  {label: "Silame",y: 0, localGovtId: 14},
                                  {label: "Sokoto North",y: 0, localGovtId: 15},
                                  {label: "Sokoto South",y: 0, localGovtId: 16},
                                  {label: "Tambuwal",y: 0, localGovtId: 17},
                                  {label: "Tangaza",y: 0, localGovtId: 18},
                                  {label: "Tureta",y: 0, localGovtId: 19},
                                  {label: "Wamako",y: 0, localGovtId: 20},
                                  {label: "Wurno",y: 0, localGovtId: 21},
                                  {label: "Yabo",y: 0, localGovtId: 22}
                              ]
                            },
                            {
                              stateId: 2589,
                              dataPoint: [
                                  {label: "Bali",y: 0, localGovtId: 1},
                                  {label: "Donga",y: 0, localGovtId: 2},
                                  {label: "Gashaka",y: 0, localGovtId: 3},
                                  {label: "Gassol",y: 0, localGovtId: 4},
                                  {label: "Ibi",y: 0, localGovtId: 5},
                                  {label: "Jalingo",y: 0, localGovtId: 6},
                                  {label: "Karim Lamido",y: 0, localGovtId: 7},
                                  {label: "Kumi",y: 0, localGovtId: 8},
                                  {label: "Lau",y: 0, localGovtId: 9},
                                  {label: "Sardauna",y: 0, localGovtId: 10},
                                  {label: "Takum",y: 0, localGovtId: 11},
                                  {label: "Ussa",y: 0, localGovtId: 12},
                                  {label: "Wukari",y: 0, localGovtId: 13},
                                  {label: "Yorro",y: 0, localGovtId: 14},
                                  {label: "Zing",y: 0, localGovtId: 15}
                              ]
                            },
                            {
                              stateId: 2590,
                              dataPoint: [
                                  {label: "Bursari",y: 0, localGovtId: 1},
                                  {label: "Damaturu",y: 0, localGovtId: 2},
                                  {label: "Fika",y: 0, localGovtId: 3},
                                  {label: "Fune",y: 0, localGovtId: 4},
                                  {label: "Geidam",y: 0, localGovtId: 5},
                                  {label: "Gujba",y: 0, localGovtId: 6},
                                  {label: "Gulani",y: 0, localGovtId: 7},
                                  {label: "Jakusko",y: 0, localGovtId: 8},
                                  {label: "Karasuwa",y: 0, localGovtId: 9},
                                  {label: "Machina",y: 0, localGovtId: 10},
                                  {label: "Nangere",y: 0, localGovtId: 11},
                                  {label: "Nguru",y: 0, localGovtId: 12},
                                  {label: "Potiskum",y: 0, localGovtId: 13},
                                  {label: "Tarmuwa",y: 0, localGovtId: 14},
                                  {label: "Yunusari",y: 0, localGovtId: 15},
                                  {label: "Yusufari",y: 0, localGovtId: 16}
                              ]
                            },
                            {
                              stateId: 2591,
                              dataPoint: [
                                  {label: "Bakura",y: 0, localGovtId: 1},
                                  {label: "Birnin Magaji/Kiyaw",y: 0, localGovtId: 2},
                                  {label: "Bukkuyum",y: 0, localGovtId: 3},
                                  {label: "Bungudu",y: 0, localGovtId: 4},
                                  {label: "Gummi",y: 0, localGovtId: 5},
                                  {label: "Gusau",y: 0, localGovtId: 6},
                                  {label: "Maradun",y: 0, localGovtId: 7},
                                  {label: "Maru",y: 0, localGovtId: 8},
                                  {label: "Shinkafi",y: 0, localGovtId: 9},
                                  {label: "Talata Mafara",y: 0, localGovtId: 10},
                                  {label: "Chafe",y: 0, localGovtId: 12},
                                  {label: "Zurmi",y: 0, localGovtId: 13}
                              ]
                            }
                        ]

                        dataPointsObject.map(local => {
                            if(local.stateId == stateId){
                                dataPoints = local.dataPoint
                            }
                        })
                    }
                })
            })
        </script>
        <%# <script src="/js/main.js"></script> %>
    </body>
</html>
